*~
/build*/
/packaging/windows/build/
/packaging/linux/build/
/bindings/build*/
/bindings/check*/
/bindings/java/
/bindings/lua/
/bindings/python/
/bindings/ruby/
*kdev*
*.orig
tags
/author-gpl.txt
/license-*.txt
/license_check/
/install*/
.DS_Store
*.swp
/source-package/
*.dox.fail
*.kate-swp
/CMakeLists.txt.user
*.bak
*.pyc
/compile_commands.json
/.ycm_extra_conf.py
/.clang-format
*.aps
*.orig
*.rej
/.pc/
/debian/*.log
/debian/*.postinst.debhelper
/debian/*.postrm.debhelper
/debian/*.prerm.debhelper
/debian/*.substvars
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/yarp-dbg/
/debian/libyarp-dev-dev/
/debian/libyarp-dev/
/debian/libyarp-dev1/
/debian/yarp-doc/
/debian/libyarp-conf-dev/
/debian/libyarp-eigen-dev/
/debian/libyarp-gsl-dev/
/debian/libyarp-gsl-private-dev/
/debian/libyarp-gsl1/
/debian/libyarp-init1/
/debian/libyarp-math-dev/
/debian/libyarp-math-private-dev/
/debian/libyarp-math1/
/debian/libyarp-name-dev/
/debian/libyarp-name1/
/debian/libyarp-os-dev/
/debian/libyarp-os-private-dev/
/debian/libyarp-os1/
/debian/libyarp-perl/
/debian/libyarp-sig-dev/
/debian/libyarp-sig-private-dev/
/debian/libyarp-sig1/
/debian/libyarp1/
/debian/python-yarp/
/debian/python3-yarp/
/debian/stamp-makefile-build
/debian/stamp-makefile-install
/debian/stamp-patched
/debian/tmp/
/debian/yarp-carrier-bayer/
/debian/yarp-carrier-human/
/debian/yarp-carrier-mjpeg/
/debian/yarp-carrier-mpi/
/debian/yarp-carrier-portmonitor/
/debian/yarp-carrier-priority/
/debian/yarp-carrier-tcpros/
/debian/yarp-carrier-xmlrpc/
/debian/yarp-data/
/debian/yarp-dev/
/debian/yarp-device-fakebot/
/debian/yarp-device-fakeimu/
/debian/yarp-device-fakelaser/
/debian/yarp-device-fakemotioncontrol/
/debian/yarp-device-ffmpeg/
/debian/yarp-device-imubosch/
/debian/yarp-device-laserhokuyo/
/debian/yarp-device-microphone/
/debian/yarp-device-opencv/
/debian/yarp-device-portaudio/
/debian/yarp-device-rplidar/
/debian/yarp-device-serial/
/debian/yarp-device-serialservoboard/
/debian/yarp-device-testgrabber/
/debian/yarp-full/
/debian/yarp-gui/
/debian/yarp-optional-carriers/
/debian/yarp-optional-devices/
/debian/yarp-ros-integration/
/debian/yarp-tools/
/debian/yarp/
/debian/yarpbatterygui/
/debian/yarpdatadumper/
/debian/yarpdataplayer/
/debian/yarplaserscannergui/
/debian/yarplogger/
/debian/yarpmanager/
/debian/yarpmotorgui/
/debian/yarprun/
/debian/yarpscope/
/debian/yarpserver/
/debian/yarpview/
/obj-*/
