Source: yarp
Priority: optional
Maintainer: Robotology Maintainers <info@icub.org>
Uploaders: Daniele E. Domenichelli <daniele.domenichelli@gmail.com>,
           Matteo Brunettini <matteo.brunettini@iit.it>
Homepage: http://wiki.icub.org/yarp/
Build-Depends: debhelper (>= 9),
               quilt,
               cmake (>= 2.8.9),
               pkg-config,
               doxygen,
               graphviz,
               libace-dev (>= 6),
               libgtk2.0-dev,
               libgtkmm-2.4-dev,
               libsqlite3-dev,
               libgsl0-dev (>= 1.11),
               libjpeg-dev,
               libtinyxml-dev,
               qtbase5-dev, qtdeclarative5-dev, qtmultimedia5-dev,
               libgtkdatabox-dev, libgtkdataboxmm-dev,
               libgoocanvas-dev, libgoocanvasmm-dev,
               libreadline-dev,
               libopencv-dev
Standards-Version: 3.9.6
Section: science
Vcs-Git: git://anonscm.debian.org/debian-science/packages/yarp.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/yarp.git


##################### LIBS

Package: libyarp-os1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: thin middleware for humanoid robots and more - [os] shared libraries
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [os] shared library.

Package: libyarp-sig1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: thin middleware for humanoid robots and more - [sig] shared libraries
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [sig] shared library.

Package: libyarp-math1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: thin middleware for humanoid robots and more - [math] shared libraries
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [math] shared library.

Package: libyarp-dev1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: thin middleware for humanoid robots and more - [dev] shared libraries
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [dev] shared library.

Package: libyarp-name1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: thin middleware for humanoid robots and more - [name] shared libraries
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [name] shared library.

##################### DEV

Package: libyarp-os-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libyarp-os1 (= ${binary:Version})
Description: thin middleware for humanoid robots and more - [os] development files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [os] development files.

Package: libyarp-os-private-dev
Section: libs
Architecture: any
Depends: ${misc:Depends},
 libyarp-os-dev (= ${binary:Version})
Description: thin middleware for humanoid robots and more - [os] private development files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [os] private development files.

Package: libyarp-sig-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libyarp-sig1 (= ${binary:Version})
Description: thin middleware for humanoid robots and more - [sig] development files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [sig] development files.

Package: libyarp-math-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libyarp-math1 (= ${binary:Version})
Description: thin middleware for humanoid robots and more - [math] development files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [math] development files.

Package: libyarp-dev-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libyarp-dev1 (= ${binary:Version})
Description: thin middleware for humanoid robots and more - [dev] development files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [dev] development files.

##################### DEBUG

Package: libyarp-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
 libyarp-os1 (= ${binary:Version}) |
 libyarp-sig1 (= ${binary:Version}) |
 libyarp-name1 (= ${binary:Version}) |
 libyarp-dev1 (= ${binary:Version}) |
 libyarp-math1 (= ${binary:Version})
Description: thin middleware for humanoid robots and more - debug symbols
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the [os] debugging symbols.

##################### DOCS

Package: libyarp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
 lynx | www-browser, doc-base, libjs-jquery
Multi-Arch: foreign
Description: thin middleware for humanoid robots and more - documentation and examples
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the documentation and example files.


##################### TOOLS

Package: yarp-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - command line tools
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the command line tools.

Package: yarpview
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpview
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpview.

Package: yarpview-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpview-gtk
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpview-gtk.

Package: yarpscope
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpscope
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpscope.

Package: yarpscope-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpscope-gtk
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpscope-gtk.

Package: yarpmotorgui
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpmotorgui
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpmotorgui.

Package: yarpmotorgui-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpmotorgui-gtk
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpmotorgui-gtk.

Package: yarpmanager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpmanager
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpmanager.

Package: yarpmanager-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpmanager-gtk
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpmanager-gtk.

Package: yarpbuilder
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpbuilder
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpbuilder.

Package: yarplogger
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarplogger
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarplogger.

Package: yarpdatadumper
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpdatadumper
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpdatadumper.

Package: yarpdataplayer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpdataplayer
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpdataplayer.

Package: yarpdataplayer-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpdataplayer-gtk
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains yarpdataplayer-gtk.

##################### CARRIERS


Package: yarp-carrier-mjpeg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: mjpeg carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the mjpeg carrier plugin.

Package: yarp-carrier-bayer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: bayer carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the bayer carrier plugin.

Package: yarp-carrier-human
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: human carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the human carrier plugin.

Package: yarp-carrier-xmlrpc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: xmlrpc carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the xmlrpc carrier plugin.

Package: yarp-carrier-tcpros
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: tcpros carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the tcpros carrier plugin.

Package: yarp-carrier-priority
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: priority carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the priority carrier plugin.

Package: yarp-carrier-serial
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libyarp-os1 (= ${binary:Version})
Description: serial carrier
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This package contains the serial carrier plugin.

##################### DEVICES

##################### BINDINGS

#Package: libyarp-bindings-tmp
#Section: libdevel
#Architecture: any
#Depends: ${misc:Depends},
# libyarp-name1 (= ${binary:Version})
#Description: thin middleware for humanoid robots and more - bindings
# [TODO add description]
# .
# Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
# lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
# viverra nec consectetur ante hendrerit. Donec et mollis dolor.
# .
# This package contains the bindings.

##################### META

Package: yarp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libyarp-os-dev (= ${binary:Version}),
 libyarp-dev-dev (= ${binary:Version}),
 libyarp-math-dev (= ${binary:Version}),
 libyarp-sig-dev (= ${binary:Version})
Suggests: cmake-curses-gui, cmake-qt-gui
Description: thin middleware for humanoid robots and more - development files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This metapackage installs the development files.

Package: yarp-gui-gtk
Architecture: any
Depends: ${misc:Depends},
 yarpbuilder (= ${binary:Version}),
 yarpdataplayer-gtk (= ${binary:Version}),
 yarpmanager-gtk (= ${binary:Version}),
 yarpmotorgui-gtk (= ${binary:Version}),
 yarpscope-gtk (= ${binary:Version}),
 yarpview-gtk (= ${binary:Version})
Description: thin middleware for humanoid robots and more - GTK2 GUIs
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This metapackage installs the GTK2 GUIs.

Package: yarp-gui-qt
Architecture: any
Depends: ${misc:Depends},
 yarpdataplayer (= ${binary:Version}),
 yarplogger (= ${binary:Version}),
 yarpmanager (= ${binary:Version}),
 yarpmotorgui (= ${binary:Version}),
 yarpscope (= ${binary:Version}),
 yarpview (= ${binary:Version})
Description: thin middleware for humanoid robots and more - Qt5 GUIs
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This metapackage installs the Qt5 GUIs.

Package: yarp-gui
Architecture: any
Depends: ${misc:Depends},
 yarp-gui-qt (= ${binary:Version}) | yarp-gui-gtk (= ${binary:Version}),
 yarpbuilder (= ${binary:Version}),
 yarplogger (= ${binary:Version})
Description: thin middleware for humanoid robots and more - All GUIs
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This metapackage installs all GUIs.

Package: yarp
Architecture: any
Depends: ${misc:Depends},
 yarp-gui (= ${binary:Version}),
 yarp-tools (= ${binary:Version}),
 yarpdatadumper (= ${binary:Version})
Description: thin middleware for humanoid robots and more - all runtime files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This metapackage installs all runtime dependancies.

Package: yarp-full
Architecture: any
Depends: ${misc:Depends},
 yarp (= ${binary:Version}),
 yarp-dev (= ${binary:Version})
Description: thin middleware for humanoid robots and more - all runtime files
 [TODO add description]
 .
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
 lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
 viverra nec consectetur ante hendrerit. Donec et mollis dolor.
 .
 This metapackage installs all runtime dependancies.


# Package: yarp-optional-carriers
# Architecture: any
# Depends: ${misc:Depends}, ${shlibs:Depends}
# Description: thin middleware for humanoid robots and more - carriers
#  [TODO add description]
#  .
#  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
#  lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
#  viverra nec consectetur ante hendrerit. Donec et mollis dolor.
#  .
#  This metapackage installs the optional carriers.

# Package: yarp-optional-devices
# Architecture: any
# Depends: ${misc:Depends}, ${shlibs:Depends}
# Description: thin middleware for humanoid robots and more - carriers
#  [TODO add description]
#  .
#  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
#  lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
#  viverra nec consectetur ante hendrerit. Donec et mollis dolor.
#  .
#  This metapackage installs the optional devices.
