Source: yarp
Priority: optional
Maintainer: Daniele E. Domenichelli <daniele.domenichelli@gmail.com>
Homepage: http://eris.liralab.it/yarp/
Build-Depends: debhelper (>= 7.3.16),
 cdbs, cmake (>= 2.6.4),
 libace-dev, libgtk2.0-dev, libgtkmm-2.4-dev
Standards-Version: 3.9.3
Section: science

Package: libyarp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - development files
 [TODO add description]
 .
 This package contains the development files.

Package: libyarp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
 lynx | www-browser, doc-base
Description: thin middleware for humanoid robots and more - documentation and examples
 [TODO add description]
 .
 This package contains the documentation and example files.

Package: libyarp1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more- shared libraries
 [TODO add description]
 .
 This package contains the shared library.

Package: yarp-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - command line tools
 [TODO add description]
 .
 This package contains the command line tools.

Package: gyarpmanager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - gyarpmanager
 [TODO add description]
 .
 This package contains gyarpmanager.

Package: yarpview
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: thin middleware for humanoid robots and more - yarpview
 [TODO add description]
 .
 This package contains yarpview.

Package: libyarp1-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libyarp1 (=${binary:Version})
Description: thin middleware for humanoid robots and more - debug symbols
 [TODO add description]
 .
 This package contains the debugging symbols.

Package: yarp-tools-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, yarp-tools (=${binary:Version})
Recommends: libyarp-dbg
Description: thin middleware for humanoid robots and more - yarp-tools debug symbols
 [TODO add description]
 .
 This package contains yarp-tools debugging symbols.

Package: gyarpmanager-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, gyarpmanager (=${binary:Version})
Recommends: libyarp-dbg
Description: thin middleware for humanoid robots and more - gyarpmanager debug symbols
 [TODO add description]
 .
 This package contains gyarpmanager debugging symbols.

Package: yarpview-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, yarpview (=${binary:Version})
Recommends: libyarp-dbg
Description: thin middleware for humanoid robots and more - yarpview debug symbols
 [TODO add description]
 .
 This package contains yarpview debugging symbols.
