#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --parallel --list-missing

override_dh_auto_configure:
	dh_auto_configure -- \
	                     -DCREATE_GUIS=ON \
	                     -DCREATE_YARPBUILDER=ON \
	                     -DCREATE_LIB_MATH=ON \
	                     -DDOX_GENERATE_XML=ON \
	                     -DCREATE_OPTIONAL_CARRIERS=ON \
	                     -DENABLE_yarpcar_bayer_carrier=ON -DUSE_LIBDC1394=OFF \
	                     -DENABLE_yarpcar_human_carrier=ON \
	                     -DENABLE_yarpcar_mjpeg_carrier=ON \
	                     -DENABLE_yarpcar_mpi_carrier=ON \
	                     -DENABLE_yarpcar_mpibcast_carrier=ON \
	                     -DENABLE_yarpcar_portmonitor_carrier=ON \
	                     -DENABLE_yarpcar_priority_carrier=ON \
	                     -DENABLE_yarpcar_rossrv_carrier=ON \
	                     -DENABLE_yarpcar_tcpros_carrier=ON \
	                     -DENABLE_yarpcar_xmlrpc_carrier=ON \
	                     -DCREATE_DEVICE_LIBRARY_MODULES=ON \
	                     -DENABLE_yarpmod_serial=ON \
	                     -DYARP_COMPILE_TESTS=OFF
	                     -DENABLE_yarpmod_serialport=ON \
	                     -DENABLE_yarpmod_fakebot=ON \
	                     -DENABLE_yarpmod_microphone=ON \
	                     -DENABLE_yarpmod_opencv_grabber=ON \
	                     -DENABLE_yarpmod_portaudio=ON
# -DENABLE_yarpmod_KinectDeviceClient=ON \
# -DENABLE_yarpmod_KinectDeviceLocal=ON \
# -DENABLE_yarpmod_SerialServoBoard=ON \
# -DENABLE_yarpmod_cuda=ON \
# -DENABLE_yarpmod_dimax_u2c=ON \
# -DENABLE_yarpmod_dynamixelAX12Ft=ON \
# -DENABLE_yarpmod_ffmpeg_grabber=ON \
# -DENABLE_yarpmod_ffmpeg_writer=ON \
# -DENABLE_yarpmod_jrkerr=ON \
# -DENABLE_yarpmod_laserHokuyo=ON \
# -DENABLE_yarpmod_nvidia=ON \
# -DENABLE_yarpmod_stage=ON \
# -DENABLE_yarpmod_urbtc=ON \
# -DENABLE_yarpmod_vfw_grabber=ON \
# -DENABLE_yarpmod_wxsdl=ON \


override_dh_auto_build-arch:
	dh_auto_build --parallel

override_dh_auto_build-indep:
	dh_auto_build -- dox
	dh_auto_build -- man

# Do not run tests, as they fall into race conditions sometimes
override_dh_auto_test:

override_dh_strip:
	dh_strip --dbg-package=libyarp-dbg

override_dh_install:
	dh_install --list-missing

override_dh_installdocs:
	dh_installdocs --link-doc=libyarp-doc
	dh_doxygen --package=libyarp-doc
