#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
-include /usr/share/dpkg/buildflags.mk
include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/debhelper.mk

CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)
DEB_CMAKE_EXTRA_FLAGS+=-DCREATE_IDLS=TRUE \
 -DCREATE_GUIS=ON \
 -DCREATE_SHARED_LIBRARY=ON \
 -DYARP_USE_SYSTEM_SQLITE=ON \
 -DCREATE_LIB_MATH=ON \
 -DYARP_USE_ATLAS=ON \
 -DDOX_GENERATE_XML=ON \
 -DCREATE_OPTIONAL_CARRIERS=TRUE \
 -DENABLE_yarpcar_bayer_carrier=TRUE -DRUNTIME_yarpcar_bayer_carrier=TRUE -DUSE_LIBDC1394=FALSE \
 -DENABLE_yarpcar_tcpros_carrier=TRUE -DRUNTIME_yarpcar_tcpros_carrier=TRUE \
 -DENABLE_yarpcar_xmlrpc_carrier=TRUE -DRUNTIME_yarpcar_xmlrpc_carrier=TRUE \
 -DENABLE_yarpcar_priority_carrier=TRUE -DRUNTIME_yarpcar_priority_carrier=TRUE \
 -DENABLE_yarpidl_thrift=TRUE

build/yarp-tools::
	doxygen $(CURDIR)/conf/doxygen/Doxyfile.man
	install -D -p -m0644 $(CURDIR)/doc/man/man/man1/yarp.1 \
	  $(CURDIR)/debian/yarp-tools/usr/share/man/man1
	install -D -p -m0644 $(CURDIR)/doc/man/man/man1/yarpdev.1 \
	  $(CURDIR)/debian/yarp-tools/usr/share/man/man1
	install -D -p -m0644 $(CURDIR)/doc/man/man/man1/yarprun.1 \
	  $(CURDIR)/debian/yarp-tools/usr/share/man/man/man1
	install -D -p -m0644 $(CURDIR)/doc/man/man/man1/yarpview.1 \
	  $(CURDIR)/debian/yarp-tools/usr/share/man/man1
	rm -R $(CURDIR)/doc/man

build/libyarp-doc::
	$(MAKE) -C $(DEB_BUILDDIR) dox

binary-install/libyarp-doc::
	rm $(DEB_BUILDDIR)/dox/html/jquery.js
	cp -au $(DEB_BUILDDIR)/dox/html $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc

binary-fixup/libyarp-doc::
	chmod -x $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/matrix/basic_ops.cpp \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/matrix/CMakeLists.txt \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/nvidia/progs/FP-resize.cg \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/os/ratethread.cpp \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/nvidia/progs/motion.cg \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/rand/CMakeLists.txt \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/stressTests/scripts/hammer-yarp-server \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/portaudio/sound_loopback.cpp \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/motorcontrol/CMakeLists.txt \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/portaudio/CMakeLists.txt \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/swig/src/Example3.java \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/stressTests/scripts/grind \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/stressTests/scripts/hammer \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/portaudio/sound_sender.cpp \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/rand/rand.cpp \
	         $(CURDIR)/debian/libyarp-doc/usr/share/doc/libyarp-doc/examples/portaudio/sound_receiver.cpp
